.main{
    width: 100vw;
}

.main--result{
    text-align: center;
    padding-bottom: 100px;
}

.div-buttons{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin: 0;
}

.button{
    display: flex;
    height: 100px;
    width: 100px;
}
